body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-bottom: 82px;
}

.h-logo {
    font-size: 24px;
    gap: 16px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul 
{
    list-style: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    /* background-color: darksalmon; */

}

.top-links {
    display: flex;
    font-size: 18px;
    gap: 16px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 24px;
    gap: 16px;
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: cadetblue; */
    flex-grow: 1;
    flex-basis: 0;
}

.placeholder {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    /* min-width: 30%; */
}

.sign {
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    font-size: 18px;
    height: 24px;
    width: 100px;
    margin-top: 10px;
    border-radius: 6px;
    border: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    margin-left: 72px;
    margin-right:72px;
    margin-bottom: 120px;
    text-align: center;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;

}

.cards {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.card {    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 180px;
}

.card-text {
}

img {
    width: 180px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 140px;
    padding-left: 300px;
    padding-right: 300px;

}

.quote-text {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
}

.signature {
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
}

.call {
    margin-left: 200px;
    margin-right: 200px;
    background-color: #3882F6;
    display: flex;
    border-radius: 6px;
    margin-top: 120px;
}

.call-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px;
    padding-left: 100px;
    padding-right: 100px;
    flex-grow: 1;
    
}

.call-container {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.call-header {
    font-size: 24px;
    font-weight: bold;
}

.sign2 {
    background-color: #3882F6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border-color: #f9faf8;
    border-style: solid;
    font-size: 18px;
    height: 30px;
    width: 100px;
    font-weight: bold;
    flex-shrink: 0;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.copyright {
    padding: 36px;
}